.App {
  text-align: center;
  margin: 0;
}

.services {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 1.5rem;
}
.details {
  font-size: 0.6rem;
  padding: 0 1.5rem 1rem 1.5rem;
  text-align: left;
}

.prvideo {
  max-width: 17rem;
  padding-bottom: 1rem;
}
.intropic {
  max-width: 17rem;
  text-align: left;
}
.videocont {
  align-items: center;
  padding-bottom: 1rem;
}
.ceo {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 1.5rem;
}
.ceomessage {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 1.5rem 1rem 1.5rem;
}
.slider-main {
  position: center;
}
.fiveicon {
  max-width: 85vw;
}
footer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background-color: white;
  text-align: center;
}
.sixpic {
  width: 80%;
  padding-bottom: 1rem;
}
.App-logo {
  height: 1.5rem;
  padding-top: 0.2rem;
}
.address {
  font-size: 0.5rem;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 40rem) {
  /* .App-header {
    background-color: white;
    background-image: url("./images/kpshq2.jpeg");
    background-repeat: no-repeat;
    background-position: 30% 10%;
    background-size: 100%;
    height: 30rem;
  } */
  .list {
    background-image: none;
    /* background-position: 30% 10%; */
    padding: 0.7rem;
    color: white;
    text-align: left;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 0;
  }
}
