.App {
  text-align: center;
  margin: 0;
}

.services {
  font-size: 0.8rem;
  text-align: left;
}
.details {
  font-size: 0.6rem;
  padding: 0 1.5rem 1rem 1.5rem;
  text-align: left;
}

.prvideo {
  padding-bottom: 1rem;
}
.intropic {
  padding-bottom: 1rem;
}

.ceo {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 1.5rem;
}
.ceomessage {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 1.5rem 1rem 1.5rem;
}
.slider-main {
  position: center;
}

footer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background-color: white;
  text-align: center;
}
.App-logo {
  height: 1.5rem;
  padding-top: 0.2rem;
}
.address {
  font-size: 0.6rem;
  color: white;
  margin: 0;
  text-align: center;
  /* padding: 1rem; */
  background-color: gray;
}
.cont-hqimg {
  display: none;
}

@media only screen and (min-width: 34rem) {
  .App {
    background-color: white;
    padding-bottom: 5rem;
  }
  .app-cont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 65rem;
    text-align: center;
    margin: 0 auto;
    background-color: white;
  }
  .services {
    font-size: 1.2rem;
    padding-left: 0;
    padding-top: 0.5rem;
  }
  .details {
    font-size: 0.8rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 0.3rem;
    margin-right: 2rem;
  }
  .cont-hqimg {
    display: block;
    padding-top: 2rem;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: right;
  }
  .hqimg1 {
    box-shadow: 0 0.55rem 0.8rem 0 gray;
    width: 100%;
    text-align: right;
  }
  .prvideo1 {
    text-align: left;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
    font-style: italic;
    margin: 0;
  }
  .prvideo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding-left: 0.3rem;
  }
  .video {
    width: 75%;
    padding-left: 0.3rem;
  }
  .intro1 {
    text-align: left;
    padding-bottom: 0.2rem;
    font-style: italic;
    margin: 0;
  }
  .intropic {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    align-items: flex-end;
  }
  .intropic0 {
    width: 75%;
    align-self: end;
  }
  .kpsservices {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 3rem 0 3rem 0;
  }
  .slider-main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    padding-left: 0.3rem;
  }

  .ceo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  strong {
    font-style: italic;
  }
  .ceomessage {
    padding-top: 2.5rem;
    font-size: 1rem;
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 1rem;
  }
  .address {
    font-size: 1rem;
    width: 65rem;
    margin: 0 auto;
    background-color: rgb(7, 14, 139);
  }
  footer {
    margin: 0 auto;
    width: 65rem;
  }
  .subfoot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 65rem;
    margin: 0 auto;
  }
  .subfoot {
    grid-column-start: 3;
    grid-column-end: -1;
  }
}
