.App-header {
  background-image: url("../images/kpshq3.png");
  background-position: 5% 95%;
  background-size: cover;
  width: 100%;
}
.head-con {
  width: 100%;
  height: 20rem;
}
/* .hlog {
  position: relative;
  width: 7rem;
  left: 11rem;
  bottom: 19rem;
} */
.h-text {
  display: none;
}
.banner {
  width: 100vw;
  height: 3rem;
  margin-bottom: -0.2rem;
}
.nav {
  text-align: center;
  /* margin-top: -0.5rem; */
  width: 100%;
}

/* .biglog {
  display: none;
} */
.bgimg {
  display: none;
}
.bigbanner {
  display: none;
}
@media only screen and (min-width: 34rem) {
  .App-header {
    width: 65rem;
    margin: 0 auto;
    background-image: none;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
    /* box-shadow: 0 0.25rem 0.3rem 0 gray; */
  }
  .bigbanner-cont {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .bigbanner {
    width: 65rem;
    display: inline;
  }
  .cont-bgimg {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* width: fit-content;
    justify-self: end;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 1rem; */
    display: none;
  }
  .bgimg {
    display: none;
    /* display: inline;
    width: 35rem;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-row-start: 2;
    grid-row-end: 5; */
  }
  .navi-cont {
    /* grid-template-columns: repeat(5, 1fr); */
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }

  /* .bgimg {
    padding-top: 1rem;
    width: 100vw;
  } */
  .head-con {
    display: none;
  }
  .banner {
    display: none;
  }
  .h-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline;
    background-color: white;
    max-height: 3rem;
    /* padding-bottom: 1rem; */
  }
  .hlog {
    width: 13rem;
    left: 0;
    top: 0;
    padding: 0.5rem 0 0 0rem;
  }
}
