.services-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  color: rgb(72, 71, 71);
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
.services-list img {
  width: 3rem;
}

@media only screen and (min-width: 34rem) {
  .services-list {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
}
