.slider {
  width: 100vw;
  background-image: url("../images/slideBG.png");
  background-size: cover;
  overflow: hidden;
  margin-bottom: 1rem;
}
.slides {
  width: 100vw;
  display: flex;
  animation: slide 20s ease-in-out infinite;
}
.slide {
  width: 100vw;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
